<section class="category">
  <h1>Visualize your 💵 Flow!</h1>
  <h2>Track and categorize your expenses!</h2>
  <hr>
 
  <h3>Pick an existing category to add an expense</h3> 
  <ul> 
    <% @categories.each do |cat| %>
      <li>
        <%= link_to cat.name, category_path(cat) %>
      </li>
    <% end %>
  </ul>  
  <p><%= link_to "New Category", new_category_path %></p>
</section>
